body {
	background-color: #404040;
	color: blue;
	font-family: "Georgia";

	@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.waitingForConnection {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s; 
}  

}
.country {
	fill: #ccc;
	stroke: #666;
	stroke-width: .1px;
	stroke-linejoin: round;
}
#map {
	position: absolute;
	width: 800px;
}
#content {
	position: relative;
	margin-left: 810px;
}

#info {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;

}
